body {
    margin: 0;            
    font-family: "Lucida Grande"; 
    background-color: smokewhite;           
}            
            
a {
    text-decoration: none;            
}  

.top-wrapper {            
    padding: 180px 0 100px 0;            
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRpm1cNWf0trEKfTenAX7KsQjsmret9yqeQ_w&usqp=CAU);            
    background-size: cover;            
    color: white;            
    text-align: center;            
}

.container {            
    width: 1170px;            
    padding: 0 15px;            
    margin: 0 auto;            
}            
            
.top-wrapper h1 {            
    font-size: 45px;            
    letter-spacing: 5px;            
    margin-bottom: 10px;   
}            
            
.top-wrapper p {                        
    margin-bottom: 3px;            
}            
            
.btn-wrapper {
    margin: 20px 0;            
}            
            
.btn-wrapper p {
    margin: 10px 0;            
}            
            
.signup {
    background-color: #239b76;            
}            
            
.facebook {            
    background-color: #3b5998;            
    margin-right: 10px;            
}            
            
.twitter {            
    background-color: #55acee;            
}            
            
.btn {            
    padding: 12px 24px;            
    color: white;            
    display: inline-block;            
    opacity: 0.8;            
    border-radius: 4px;            
}            
            
.btn:hover {            
    opacity: 1;            
}            
            
.fa {            
    margin-right: 5px;            
}            
            
header {            
    height: 65px;            
    width: 100%;            
    background-color: rgba(34, 49, 52, 0.9);            
    position: fixed;            
    top: 0;            
    z-index: 10;            
}            
            
.logo {            
    width: 40px;            
    margin-top: 20px;            
}            
            
.header-left {            
    float: left;            
}            
            
.header-right {            
    float: right;            
    background-color: rgba(255, 255, 255, 0.3);            
    transition: all 0.5s;            
}            
            
.header-right:hover {            
    background-color: rgba(255, 255, 255, 0.5);            
}            
            
.header-right a {            
    line-height: 65px;            
    padding: 0 25px;            
    color: white;            
    display: block;            
}            
            
.lesson-wrapper {            
    height: 500px;            
    padding-bottom: 80px;            
    background-color: pink;            
    text-align: center;            
}            
            
.heading {            
    padding-top: 60px;            
    padding-bottom: 30px;            
    color: #5f5d60;            
}            
            
.heading h2 {            
    font-weight: normal;
    color: black;            
}            
            
.lesson {            
    float: left;            
    width: 25%;            
}            
            
.lesson-icon {            
    position: relative;            
}            
            
.lesson-icon p {            
    position: absolute;            
    top: 90px;            
    width: 100%;            
    color: white;            
}            
            
.txt-contents {            
    width: 80%;            
    display: inline-block;            
    margin-top: 20px;            
    font-size: 15px;            
    color: black;            
}            
            
.heading h3 {            
    font-weight: normal;            
}            
            
.message-wrapper {            
    border-bottom: 1px solid #eee;            
    padding-bottom: 80px;            
    text-align: center; 
    background: #FFF1DC;           
}            
            
.message {            
    padding: 15px 40px;            
    background-color: #5dca88;            
    cursor: pointer;            
    box-shadow: 0 7px #1a7940;            
}            
            
.message:active {            
    position: relative;            
    top: 7px;            
    box-shadow: none;            
}            
            
footer img {            
    width: 125px;            
}            
            
footer p {            
    color: #b3aeb5;            
    font-size: 12px;            
}            
            
footer {            
    padding-top: 30px;            
}